/* src/App.css */
.App {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.flower-container {
  position: absolute;
  bottom: 50px;
}
